---
icon: mdi:memory
name: ESPHome Add-on Memory Usage
state: "{{ state_attr('sensor.esphome_add_on_status', 'data').memory_percent | default(0) }}"
unique_id: esphome_add_on_memory_usage
unit_of_measurement: '%'
