[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"
yamllint = "*"
locationsharinglib = "*"
ftfy = "*"
mypy = "*"
types-requests = "*"
paramiko = "*"
python-dotenv = "*"
types-paramiko = "*"
pycln = "*"
async-upnp-client = "*"
xmltodict = "*"
lxml = "*"
types-flask = "*"
types-pillow = "*"

[packages]
homeassistant = "==2022.8.0"
requests = "*"
spotipy = "*"
wg-utilities = "*"
nanoleafapi = "*"
pillow = "*"
feedgen = "*"

[requires]
python_version = "3.9"
