[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"
yamllint = "*"
locationsharinglib = "*"

[packages]
homeassistant = "*"
requests = "*"
spotipy = "*"
wg-utilities = "*"

[requires]
python_version = "3.9"
