[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
pylint = "*"
pre-commit = "*"
yamllint = "*"
mypy = "*"
types-requests = "*"
types-paramiko = "*"
pycln = "*"
types-flask = "*"
types-pillow = "*"
pylint-strict-informational = "*"
types-pyyaml = "*"

[packages]
python-dotenv = "*"
lxml = "*"
xmltodict = "*"
homeassistant = "==2022.9.7"
requests = "*"
spotipy = "*"
nanoleafapi = "*"
pillow = "*"
feedgen = "*"
pydantic = "*"
flask = "*"
wg-utilities = {extras = ["devices"], version = "*"}
paramiko = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
