---
name: Manage Repo Labels

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - develop
    paths:
      - .github/repo_labels.yml
      - .github/workflows/manage_repo_labels.yml
  workflow_dispatch:

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v4
        with:
          yaml-file: .github/repo_labels.yml
